<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
 
</head>
<body>
    <a href="/">Home</a>
    <h1>{{gebiet}}</h1>
    {% block content %}{% endblock %}

      <script>
        document.querySelectorAll(".besitz").forEach((x) => {
          if (x.innerHTML == "1"){
            x.style.backgroundColor = "LightGreen";  
          }
          else if (x.innerHTML == "0"){
          x.style.backgroundColor = "LightGray";  
          }
          else if (x.innerHTML == "2"){
          x.style.backgroundColor = "MediumSeaGreen";  
          }

        })
      </script>


 
    
</body>
</html>