<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
  </head>
  <body>
    <h1><a href="/usa">USA</a></h1>
    <details>
      <summary>Bund</summary>
      <div>
          <details>
            <p>Allg Bes.</p>
          <summary>Allg Bes.</summary>
          <div>
            <a href="/ziffern_spezial">Ziffern Spezial</a>
          </div>
        </details>
      </div>
    </details>
  </body>
</html>
