{% extends 'base.html' %}
{% block content %}
    {% for variante, mn in marken.items() %}
    <h2>{{ variante }}</h2>
    <table style="width: 50%;">
        <tr>
            <th>MichNr</th>
            <th>Variante</th>
            <th>**</th>
            <th>*</th>
            <th>o</th>
        </tr>
        {% for stamp in mn %}
        <tr>
            <td>{{ stamp.MichNr }}</td>
            <td>{{ stamp.Variante }}</td>
            <td class="besitz">{{ stamp.pf }}</td>
            <td class="besitz">{{ stamp.ug }}</td>
            <td class="besitz">{{ stamp.ge }}</td>
          </tr>
        {% endfor %}
       
    
      </table>
    {% endfor %}
    {% endblock %}
    