<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
 
</head>
<body>
  <a href="/">Home</a>
    <h1>USA</h1>
    <table style="width: 50%;">
        <tr>
          <th>MichNr</th>
          <th>**</th>
          <th>*</th>
          <th>o</th>
        </tr>
        {% for stamp in stamps %}
        <tr>
            <td>{{ stamp.MichNr }}</td>
            <td class="besitz">{{ stamp.pf }}</td>
            <td class="besitz">{{ stamp.ug }}</td>
            <td class="besitz">{{ stamp.ge }}</td>
          </tr>
        {% endfor %}
       
    
      </table>
      <script>
        document.querySelectorAll(".besitz").forEach((x) => {
          if (x.innerHTML == "1"){
            x.style.backgroundColor = "LightGreen";  
          }
          else if (x.innerHTML == "0"){
          x.style.backgroundColor = "LightGray";  
          }
          else if (x.innerHTML == "2"){
          x.style.backgroundColor = "MediumSeaGreen";  
          }

        })
      </script>


 
    
</body>
</html>