{% extends 'base.html' %}
{% block content %}

 
    <table style="width: 50%;">
        <tr>
          <th>MichNr</th>
          <th>Variante</th>
          <th>**</th>
          <th>*</th>
          <th>o</th>
        </tr>
        {% for stamp in stamps %}
        <tr>
            <td>{{ stamp.MichNr }}</td>
            <td>{{ stamp.Variante }}</td>
            <td class="besitz">{{ stamp.pf }}</td>
            <td class="besitz">{{ stamp.ug }}</td>
            <td class="besitz">{{ stamp.ge }}</td>
          </tr>
        {% endfor %}
       
    
      </table>
{% endblock %}


 